#calendary {
    flex-direction: column;
    .banner-calendary {
        width: 100%;
        height: 145px;
        margin-bottom: 20px;
    }
    h1 {
        position: absolute;
        margin-left: 10px;
        margin-top: 100px;
        font-size: 30px;
        font-weight: bold;
    }
    .opção {
        align-self: center;
        ul {
            margin: 0;
            padding: 0;
            li {
                margin-left: 15px;
                border: 1px var(--black) solid;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                p {
                    display: none;
                }
                &:hover {
                    background-color: var(--black);
                }
                &.active {
                    background-color: var(--black);
                    color: var(--white); 
                }
            }
            .escolha {
                display: contents;
                font-size: 12px;
                border: none;
            }
        }
    }
    #align {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;  
        top: -40px;    
        .calendar {
            width: 100%;
            margin: 75px;
            position: absolute;
            flex-direction: column;
            padding: 0 20px;
            .day {
                border-radius: 10px;
                width: 22%;
                height: 20px;
                background-color: var(--black);
                h2 {
                    font-size: 15px;
                    margin: 0 auto;
                    color: var(--white);
                }
            }
            .month { 
                justify-content: space-between;
                align-self: center;
                margin-bottom: 10px;
                text-transform: uppercase;
                margin-top: -30px;
                h2 {
                    color: var(--gray-5);
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 20px;
                    margin-right: 10px;
                }  
                nav{
                    size: 15px;
                    button + button {
                        margin-left: 10px;
                    }
                }
            }
            ul {
                margin: 0;
                padding: 0;
            }
            .weekdays {
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                color: var(--gray-6);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                li {
                    justify-content: center;
                    padding: 8px 0;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: repeat(5, 12vw);
                grid-gap: 10px;
                color: var(--black);
                li {
                    font-size: 16px;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    transition:  all .1s ease-in-out;
                    &:hover {
                        background-color: var(--black);
                        color: var(--white);
                    }
                    &.active {
                        background-color: var(--black);
                        color: var(--white); 
                    }
                }
        
            }
            .esquerda, .direita {
                bottom: -120px;
                align-self: center;
                position: absolute;
                flex-direction: row;
                display: inline;
                width: 50px;
                #left-black, #right-black {
                    display: flex;
                }
                #left-white, #right-white {
                    display: none;
                }
            }
            .esquerda {
                margin-right: 100px;
            }
            .direita {
                margin-left: 100px;
            }
        }
        button {
            top: 550px;
            align-self: flex-start;
            width: 40%;
        }
    }
}
@media (min-width: 375px) {
    #align {
        .calendar {
            width: 100%;
            margin-top: 125px;    
        }
    }
}   
@media (min-width: 768px) {
    #calendary {
        .banner-calendary {
            height: 250px;
        }
        h1 {
            font-size: 45px;
            margin-top: 170px;
        }
        .opção {
            ul {
                li {
                    width: 40px;
                    height: 40px;
                }
                .escolha {
                    font-size: 30px;
                }
            }
        }
        #align {
            top: -80px;
            .calendar {
                .day {
                    position: relative;
                    top: 90px;
                    width: 20%;
                    height: 40px;       
                    h2 {
                        font-size: 30px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                .month {
                    margin: 20px 0;
                    h2 {
                        font-size: 30px;
                    }                
                }
                .weekdays {
                    li {
                        font-size: 21px;
                        font-weight: bold;
                    }
                }
                .days {
                    li {
                        font-size: 25px;
                        height: 50px;
                        width: 50px;
                        margin-left: 20px;
                    }
                }
                .select-date {   
                    margin-bottom: 10px; 
                    div { 
                        font-size: 25px;
                        color: var(--purple-3);
                        flex-direction: column;
                        margin: 10px;
                        align-items: center;
                        button {
                            width: 250px;
                            height: 40px;
                            margin-top: 5px;
                            color: gray;
                            font-size: 20px;
                            justify-content: center;
                            align-items: center;
                        }
                    }    
                }
            }
            button {
                top: 950px;
                width: 25%;
            }
        }
    }
}
@media (min-width: 1200px) {
    .main-calendary {
        height: 1200px;
    }
    #calendary {
        .banner-calendary {
            height: 350px;
        }
        h1 {
            margin-top: 270px;
        }
        .opção, #align {
            margin-top: -150px;
        }
        .opção {
            margin-right: 150px;
            position: relative;
            top: 300px;
            align-self: flex-end;
            ul {
                display: inline;
                li {
                    height: 40px;
                    margin-left: 70px;
                    margin-top: 20px;
                    p {
                        display: flex;
                        left: 50px;
                        position: relative;
                        font-size: 15px;
                        align-self: center;
                    }
                }
                .escolha {
                    display: none;
                }
            }
        }
        #align {
            width: 80%;
            top: -80px;
            .calendar {
                .day {
                    position: relative;
                    top: 90px;
                    width: 20%;
                    height: 40px;       
                    h2 {
                        font-size: 30px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                .month {
                    margin: 20px 0;
                    h2 {
                        font-size: 30px;
                    }                
                }
                .weekdays {
                    li {
                        font-size: 21px;
                        font-weight: bold;
                    }
                }
                .days {
                    grid-template-rows: none;
                    li {
                        margin-left: 40px;
                        font-size: 25px;
                        height: 50px;
                        width: 50px;
                    }
                }
                .select-date {   
                    margin-bottom: 10px; 
                    div { 
                        font-size: 25px;
                        color: var(--purple-3);
                        flex-direction: column;
                        margin: 10px;
                        align-items: center;
                        button {
                            width: 250px;
                            height: 40px;
                            margin-top: 5px;
                            color: gray;
                            font-size: 20px;
                            justify-content: center;
                            align-items: center;
                        }
                    }    
                }
            }
            button {
                top: 750px;
                width: 25%;
            }
        }
    }
}
@media (min-width: 1920px) {
    .main-calendary {
        height: 1200px;
    }
    #calendary {
        .banner-calendary {
            height: 450px;
        }
        h1 {
            font-size: 60px;
            margin-top: 350px;
        }
    }
}