#footer {
    position: absolute;
    width: 100%;
    height: 291px;
    background-color: var(--black);
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    nav {
        display: none;
    }
    #socials {
        width: 190px;
        height: 59px;
        .facebook, .instagram, .whatsapp {
            top: 70px;
            position: relative;
            margin-left: -50px;
        }
        .facebook {
            padding-left: 30px;
        }
        .instagram {
            padding-left: 30px;
        }
        .whatsapp {
            padding-left: 30px;
        }
        p {
            display: none;
        }
    }
    #logo-footer {
        align-items: center;
        position: relative;
        img {
            width: 283px;
        }
    }
    hr {
        position: relative;
        top: -60px;
        background-color: var(--white);
        width: 90%;
    }
    p {
        position: relative;
        top: -60px;
        color: var(--white);
    }
}
@media (min-width: 768px) {
    #footer {
        nav {
            position: absolute;
            display: flex;
            align-self: flex-start;
            ul {
                font-weight: bold;
                display: inline;
                color: var(--white);
                align-self: flex-start;
                font-size: 25px;
                li {
                    a {
                        font-size: 20px;
                        color: var(--white);
                        text-decoration: none;
                    }
                }
            }
        }
        #socials {
            align-self: center;
            display: inline;
            margin: 0;
            padding: 0;
            position: relative;
            right: 20px;
            .facebook, .instagram, .whatsapp {
                height: 58px;
                top: 90px;
                margin-top: 10px;
            }
            p {
                top: 0;
                display: flex;
            }
        }
        #logo-footer {
            align-self: flex-end;
        }
        hr {
            width: 80%;
            top: -40px;
        }
    }
}
@media (min-width: 1200px) {
    #footer {
        position: relative;
        margin-top: 1900px;
        nav {
            ul {
                margin-left: 30px;
                font-size: 30px;
            }
        }
        #logo-footer {
            right: 50px;
        }
        hr {
            width: 90%;
        }
    }
}
@media (min-width: 1920px) {
    #footer {
        nav {
            ul {
                margin-left: 60px;
            }
        }
        #logo-footer {
            right: 80px;
        }
    }
}