#main {
    flex-direction: column;
    img {
        width: 100%;
    }
    .title {
        margin-left: 10px;
        z-index: 1;
        position: absolute;
        display: inline;
        margin-top: 20px;
        h1 {
            font-weight: bold;
            color: var(--white);
            margin: 0;
        }
        small {
            color: var(--white);
        }
    }
    section {
        flex-direction: column;
        .text {
            margin-left: 5px;
            h2 {
                font-size: 20px;
                font-weight: bold;
                position: absolute;
            }
            hr {
                position: relative;
                margin: 0;
                height: 4px;
                width: 80%;
                background-color: var(--black);
                border: none;
            }
            p {
                margin: 0;
                position: relative;
                top: 60px;
                font-size: 15px;
                margin-bottom: 100px;
            }
        }
        .home-services, .home-local, .home-contact {
            background-color: var(--gray-2);
            position: relative;
            height: 145px;
            img {
                width: 143px;
                height: 102px;
                top: 10px;
                position: absolute;
            }
            .descrição {
                position: absolute;
                right: 10px;
                width: 50%;
                top: -10px;
                h2 {
                    font-size: 20px;
                    font-weight: bold;
                    position: absolute;
                }
                hr {
                    position: relative;
                    margin: 0;
                    height: 4px;
                    width: 80%;
                    background-color: var(--black);
                    border: none;
                }
                p {
                    margin: 0;
                    position: relative;
                    top: 50px;
                    font-size: 15px;
                }
                button {
                    position: absolute;
                    left: 100px;
                    top: 120px;
                    width: 62px;
                    height: 30px;
                    border-radius: 5px;
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
        .home-local {
            background-color: var(--white);
            flex-direction: row-reverse;
            img {
                height: 102px;
            }
            .descrição {
                left: 10px;
            }
        }
    }
}
@media (min-width: 375px) {
    #main {
        section {
            .home-services, .home-local, .home-contact {
                height: 145px;
                img {
                    width: 163px;
                    height: 122px;
                }
                .descrição {
                    button {
                        left: 120px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    #main {
        .title {
            margin-left: 20px;
            h1 {
                font-size: 50px;
            }
            small {
                font-size: 20px;
            }
        }
        section {
            .text {
                h2 {
                    font-size: 30px;
                }
                hr {
                    height: 5px;
                }
                p {
                    top: 80px;
                    font-size: 20px;
                }
            }
            .home-services, .home-local, .home-contact {
                height: 185px;
                img {
                    width: 200px;
                    height: 162px;
                }
                .descrição {
                    h2 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 20px;
                        top: 70px;
                    }
                    button {
                        left: 120px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    #main {
        height: 2000px;
        align-self: center;
        top: 0;
        bottom: 0;
        margin-top: 133px;
        img {
            position: relative;
            top: 0;
            height: 650px;
        }
        .title {
            top: 90px;
            margin-left: 20px;
            h1 {
                font-size: 70px;
            }
            small {
                font-size: 30px;
            }
        }
        section {
            .text {
                h2 {
                    font-size: 35px;
                }
                hr {
                    height: 5px;
                }
                p {
                    top: 100px;
                    font-size: 25px;
                }
            }
        }
    }
}
@media (min-width: 1920px) {
    #main {
        img {
            height: 850px;
        }
        .title {
            margin-left: 30px;
        }
        section {
            .text {
                h2 {
                    font-size: 40px;
                }
                hr {
                    height: 6px;
                }
                p {
                    top: 110px;
                    font-size: 30px;
                }
            }
        }
    }
}