:root {

    --white: #FFF;
    --black: #000;
    --gray-1: #DFE4EA;
    --gray-2: #D2DAE2;
    --gray-3: rgb(	223, 228,234, 0.5);
    --gray-4: #DFE6E9;
    --gray-5: #9A9A99;
    --gray-6: #707070;

}